.learn_hc1{
    width: 30%;
}

.learn_hc2{
    width: fit-content;
}

.learn_hc3 {
    width: 30%;
}

.learn_row:after {
    content: "";
    display: table;
    clear: both;
}

.learn_row {
    padding: 0;
    padding-top: 1.5vh;
    display: flex;
    width: 100%;
}
