label {
    color: white;
    padding-bottom: 1.5vh;
    font-size: 3vh;
    padding-left: 36vw;
    align-self: flex-start;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vh;
}

input {
    width: 27.5vw;
    margin-bottom: 4vh;
    height: 5vh;
    background-color: #181818;
    color: white;
    border: 0px;
    border-bottom: 1px solid rgb(56, 56, 56);
}

input:focus {
    outline: #181818;
}

h1 {
    font-size: 7.5vh;
    padding-bottom: 1.75vh;
}

.fName {
    width: 12.5vw;
}

.lName {
    width: 12.5vw;
}

.fNameLabel {
    padding-left: 0;
}

.lNameLabel {
    padding-left: 0;
}

.fNameSection {
    display: flex;
    flex-direction: column;
    padding-right: 1vw;
}

.lNameSection {
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
}

.nameSection {
    display: flex;
    flex-direction: row;
}

.errorBox {
    width: 27.5vw;
    margin-left: 36.25vw;
    height: 4.5vw;
    text-align: center;
    background-color: rgba(255, 25, 25, 0.753);
    border-radius: 2vh;
    margin-bottom: 1vw;
    display:none;
    margin-top: 0.25vw;
}

.errorMessage {
    padding-top: 1.25vw;
    font-size: 1.5vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.submitButton {
    border-radius: 2vh;
    border: 0.5vh solid transparent;
    font-size: 2.75vh;
    font-weight: 500;
    padding: 1.2vh;
    padding-right: 2vh;
    padding-left: 2vh;
    font-family: inherit;
    background-color: #576CE8;
    cursor: pointer;
    transition: border-color 0.25s;
    color: white;
    font-weight: 650;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.submitButton:hover {
    border-color: white;
}