.hc1{
    width: 50%;
    float: left;
}

.hc2{
    width: 50%;
    float: right;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    padding-left: 5vw;
    padding-right: 5vw;
}

button {
    border-radius: 12px;
    border: 4px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    transition: border-color 0.25s;
    color: black;
}

button:hover {
    border-color: #646cff;
}